* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "aside main";
}

header {
    gap: 20px;
    display: flex;
    background-color: #666;
    padding: 20px;
    height: 81px;
    font-size: 30px;
    color: white;
}

header img {
    padding: 6px;
    width: 4%;
    height: 65px;
    margin: 0;
    margin-top: -8px;
}

header p {
    padding-left: 2rem;
    margin: 0;
    padding: 5px;
}

.container {
    display: flex;
}

.container aside .icon {
    padding: 10px;
    gap: 10px;
}

.icon svg {
    padding: -10px;
}

aside {
    width: 300px;
    background: #d9d9d9;
    color: #ffff;
    padding: 50px;
    min-height: calc(100vh - 50px);
}

main {
    grid-area: main;
    width: 90%;
    padding: 10px;
}

aside .icon a {
    color: black;
    font-size: 25px;
    padding: 5px;
    margin-bottom:10px ;
    text-decoration: none;
}

main h2 {
    font-size: 35px;
}

main .card {
    display: flex;
    padding: 2%;
    gap: 10px;
    padding-right: 20%;
}

main .card .cardo {
    border: 1px solid black;
    height: 25rem;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

main .card .cardo .text {
    display: flex;
    gap: 30px;
    float: inline-end;
    margin-right: 15px;
    margin-top: -40px;
}

main .card .cardo .img img {
    width: 100%;
    padding: 3%;
    border-radius: 21px;
}

main table {
    margin-left: 50px;
    width: 73%;
    border-collapse: collapse;
}

main th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
main th {
    background-color: #ccc;
}
main .edit-btn {
    background-color: yellow;
    border: none;
    padding: 5px;
}
main .hapus-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
}